<link rel="stylesheet" href="../Content/css/styles.css" type="text/css">

<h1>Recipies</h1>
<ul>
  @foreach (var recipe in @Model)
{
    <li class='a-@recipe.GetRating()'><a href="/recipe/@recipe.GetId()">@recipe.GetName()</a> |

      @for(int i = 0; i < @recipe.GetRating(); i++)
      {
        <span>&#9733</span>
      }
      </li>
}
</ul>



<Form action = '/add-new-recipe' method = 'post'>
  <h2>Add new recipe</h2>
  <label for="recipe-name">Recipe Name</label>
  <input type="text" name="recipe-name">
<br>
  <label for="recipe-description">Recipe Instructions</label>
  <br>
  <textarea rows = "20" name = "recipe-description"></textarea>
<br>
  <label for="recipe-rating">Recipe Rating</label>
  <input type="number" min=1 max=5 name="recipe-rating">

  <label for="recipe-image">Recipe Image URL=</label>
  <input type="text" name="recipe-image">

  <button type="submit" name="name">add recipe</button>
</form>

<a href="/categories">categories</a>
<a href="/ingredients">ingredients</a>
<form action="/delete-all-recipes" method="post">
  <button type="submit">Delete All</button>
</form>
